<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cart.dao.UserMapper">

    <sql id="baseSelect">
        select
          id, nick_name nickName, username, password, phone, address, image
        from
          t_user
    </sql>
    
    <select id="selectByUsernameAndPassword" resultType="User">
        <include refid="baseSelect"/>
        where username=#{username} and password=#{password}
    </select>
    
    <select id="selectByUsername" resultType="User">
        <include refid="baseSelect"/>
        where username = #{username}
    </select>

    <insert id="insert" parameterType="User">
        insert into t_user
          (nick_name, username, password, phone, address, image)
        values
          (#{nickName}, #{username}, #{password}, #{phone}, #{address}, #{image})
    </insert>

</mapper>